---
http_interactions:
- request:
    method: get
    uri: https://api.deadmanssnitch.com/v1/snitches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"da9b514e73482dc65cd240a3e236e0df"
    body:
      encoding: ASCII-8BIT
      string: '[{"token":"76e58f5e75","href":"/v1/snitches/76e58f5e75","name":"Test
        snitch","tags":["test"],"notes":"Some notes","status":"pending","created_at":"2020-05-26T19:24:44.916Z","check_in_url":"https://nosnch.in/76e58f5e75","checked_in_at":null,"type":{"interval":"daily"},"interval":"daily","alert_type":"basic","alert_email":["foobar@example.com"]}]'
  recorded_at: Tue, 26 May 2020 19:25:14 GMT
recorded_with: VCR 5.1.0
