---
http_interactions:
- request:
    method: post
    uri: https://api.deadmanssnitch.com/v1/snitches
    body:
      encoding: UTF-8
      string: '{"name":"Some snitch","tags":["some","tags"],"alert_type":"basic","interval":"hourly","alert_email":["foo@example.com"],"notes":"some
        notes"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e458f65f8bcc05464458d9d146c049a7"
    body:
      encoding: ASCII-8BIT
      string: '{"token":"89e9d93839","href":"/v1/snitches/89e9d93839","name":"Some
        snitch","tags":["some","tags"],"notes":"some notes","status":"pending","created_at":"2020-05-26T21:01:23.441Z","check_in_url":"https://nosnch.in/89e9d93839","checked_in_at":null,"type":{"interval":"hourly"},"interval":"hourly","alert_type":"basic","alert_email":["foo@example.com"]}'
  recorded_at: Tue, 26 May 2020 21:01:23 GMT
recorded_with: VCR 5.1.0
