---
http_interactions:
- request:
    method: patch
    uri: https://api.deadmanssnitch.com/v1/snitches/7706471376
    body:
      encoding: UTF-8
      string: '{"name":"New snitch name"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aef2feb31cb4a40c56ba8913ebf83087"
    body:
      encoding: ASCII-8BIT
      string: '{"token":"7706471376","href":"/v1/snitches/7706471376","name":"New
        snitch name","tags":[],"notes":null,"status":"pending","created_at":"2020-05-26T21:19:03.823Z","check_in_url":"https://nosnch.in/7706471376","checked_in_at":null,"type":{"interval":"hourly"},"interval":"hourly","alert_type":"basic","alert_email":[]}'
  recorded_at: Tue, 26 May 2020 21:33:57 GMT
recorded_with: VCR 5.1.0
